@import "@reactStyles/vars.scss";

.initialization {
  padding: 60px 0;
  background-color: $grayscale-100;

  &__container {
    gap: 60px;
    display: flex;
    flex-direction: column;
  }
}

.header {
  gap: 30px;
  display: flex;
  flex-direction: column;

  &__title {
    @include title_1();
    color: $grayscale-800;
  }

  &__inputs {
    gap: 15px;
    display: flex;
  }
}

.input {
  flex: 0 1 372px;
}

.templates {
  gap: 30px;
  display: flex;
  flex-direction: column;

  &__title {
    @include title_2();
    color: $grayscale-800;
  }

  .templates__container {
    width: 100%;
  }

  .templates__slide {
    width: unset;
  }

  .templates__scrollbar {
    width: 64px;
    height: 4px;
    border-radius: 5px;
    align-self: center;
    background-color: $grayscale-400;

    .templates__scrollbar__thumb {
      height: 4px;
      background-color: $grayscale-800;
    }
  }
}

.next {
  align-self: flex-end;
  padding: 12px 20px;
}

@media (min-width: $sm) {
  .header {
    &__inputs {
      gap: 30px;
    }
  }
}

@media (min-width: $md) {
  .header {
    &__inputs {
      gap: 45px;
    }
  }

  .templates {
    .templates__scrollbar {
      width: 128px;
      background-color: $grayscale-400;
    }
  }
}

@media (min-width: $lg) {
  .header {
    &__inputs {
      gap: 60px;
    }
  }

  .templates {
    .templates__scrollbar {
      width: 256px;
      background-color: $grayscale-400;
    }
  }
}
