@import "@reactStyles/vars.scss";

.inputs {
  gap: 15px;
  display: flex;

  &__input {
    flex: 0 1 372px;
  }
}

.templates {
  gap: 30px;
  display: flex;
  flex-direction: column;

  .templates__container {
    width: 100%;
  }

  .templates__slide {
    width: unset;
  }

  .templates__scrollbar {
    width: 64px;
    height: 4px;
    border-radius: 5px;
    align-self: center;
    background-color: $grayscale-400;

    .templates__scrollbar__thumb {
      height: 4px;
      background-color: $grayscale-800;
    }
  }
}

@media (min-width: $sm) {
  .inputs {
    gap: 30px;
  }
}

@media (min-width: $md) {
  .inputs {
    gap: 45px;
  }

  .templates {
    .templates__scrollbar {
      width: 128px;
      background-color: $grayscale-400;
    }
  }
}

@media (min-width: $lg) {
  .inputs {
    gap: 60px;
  }

  .templates {
    .templates__scrollbar {
      width: 256px;
      background-color: $grayscale-400;
    }
  }
}
