# Versioning and metadata
.git
.gitignore
.dockerignore
/.git/
/.github/
LICENSE
VERSION
README.md
Changelog.md

# Build dependencies
dist
node_modules
coverage
Makefile

# Environment (contains sensitive data)
.env

# Files not required for production
.editorconfig
Dockerfile
README.md
.eslintrc.js
nodemon.json
