/** Медиа стили экранов */

$lg: 1440px;
$md: 1180px;
$sm: 768px;
$xs: 480px;

/** Цвета */

$grayscale-0: #fff;
$grayscale-100: #f2f2f4;
$grayscale-200: #d1d1d1;
$grayscale-400: #525866;
$grayscale-600: #2f3543;
$grayscale-800: #27292f;
$grayscale-1000: #1e1e1e;

$primary-10: #4D8CE8;
$primary-500: #0060e6;

/** Миксины */

@mixin titleText {
  font-size: 14px;
  color: $grayscale-100;
  font-weight: 700;

  @media (min-width: $md) {
    font-size: 16px;
  }
}

@mixin defaultText {
  font-size: 12px;
  font-weight: 400;
  color: $grayscale-100;

  @media (min-width: $md) {
    font-size: 14px;
  }
}

/** Шаблон медиа запросов */

// @media (min-width: $sm) {

// }

// @media (min-width: $md) {

// }

// @media (min-width: $lg) {

// }
