@import "@reactStyles/vars.scss";

.container {
  gap: 60px;
  display: flex;
  flex-direction: column;
}

.header {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.title {
  @include title_1();
  color: $grayscale-800;
}

.subtitle {
  @include title_2();
  color: $grayscale-800;
}

.description {
  @include mainText();
  font-weight: 400;
  color: $grayscale-800;
}

.buttons {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: end;

  .button {
    font-weight: 700;
  }
}
