@import "@reactStyles/vars.scss";

.allSites {
  gap: 60px;
  display: flex;
  flex-direction: column;
}

.header {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    @include title_1();
    color: $grayscale-0;
  }

  &__button {
    gap: 10px;
    display: flex;
    font-weight: 700;
    align-items: center;

    &:hover {
      .header__icon {
        background-color: $grayscale-100;
      }
    }
  }

  .header__icon {
    width: 20px;
    height: 20px;
    background-color: $grayscale-800;
  }
}

.sites {
  gap: 15px;
  display: grid;
  grid-template-columns: auto auto;
}

@media (min-width: $sm) {
  .sites {
    gap: 30px;
  }
}

@media (min-width: $md) {
  .sites {
    gap: 45px;
  }
}

@media (min-width: $lg) {
  .sites {
    gap: 60px;
  }
}
