@import "@reactStyles/vars.scss";

.button {
  border-radius: 5px;
  width: fit-content;
}

.contained {
  &__primary {
    padding: 20px 60px;
    font-size: 18px;
    color: $grayscale-0;
    background-color: $primary-500;
  }

  &__secondary {
    padding: 12px 20px;
    font-size: 14px;
    color: $grayscale-0;
    background-color: $grayscale-500;
  }

  &__white {
    padding: 10px 60px;
    font-size: 16px;
    font-weight: 700;
    color: $grayscale-1000;
    background-color: $grayscale-0;
  }
}

.outlined {
  padding: 12px 20px;
  font-size: 14px;
  color: $grayscale-500;
  background-color: transparent;
  border: 1px solid $grayscale-500;
}
