@import "@reactStyles/vars.scss";

.button {
  border-radius: 5px;
  width: fit-content;
}

.contained {
  &__primary {
    @include titleText();
    padding: 15px 45px;
    background-color: $primary-500;
  }

  &__secondary {
    @include titleText();
    padding: 12px 20px;
    background-color: $grayscale-600;
  }

  &__white {
    @include titleText();
    padding: 10px 45px;
    color: $grayscale-800;
    background-color: $grayscale-0;
  }
}

.outlined {
  @include defaultText();
  padding: 12px 20px;
  color: $grayscale-400;
  background-color: transparent;
  border: 1px solid $grayscale-600;
}

@media (min-width: $md) {
  .contained {
    &__primary {
      padding: 20px 60px;
    }

    &__secondary {
      padding: 12px 20px;
    }

    &__white {
      padding: 10px 60px;
    }
  }
}