@import "@reactStyles/vars.scss";

.button {
  border-radius: 5px;
  width: fit-content;
}

.contained {
  &__primary {
    @include mainText();
    padding: 15px 45px;
    background-color: $primary-500;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary-10;
    }
  }

  &__secondary {
    @include mainText();
    padding: 12px 20px;
    background-color: $grayscale-400;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary-10;
    }
  }

  &__white {
    @include mainText();
    padding: 10px 45px;
    color: $grayscale-800;
    background-color: $grayscale-0;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary-10;
    }
  }
}

.outlined {
  @include additionalText();
  padding: 12px 20px;
  color: $grayscale-400;
  background-color: transparent;
  border: 1px solid $grayscale-600;
  transition: all 0.3s ease;

  &:hover {
    background-color: $primary-10;
  }
}

.text {
  @include mainText();
  font-weight: 400;
  transition: all 0.3s ease;

  &:hover {
    color: $primary-10;
  }
}

@media (min-width: $md) {
  .contained {
    &__primary {
      padding: 20px 60px;
    }

    &__secondary {
      padding: 12px 20px;
    }

    &__white {
      padding: 10px 60px;
    }
  }
}
