// .creator {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: start;
//   padding: 70px;
//   user-select: none;
// }

// .elements {
//   width: 100%;
//   height: 100px;
// }

// .canvas {
//   width: 100%;
//   flex: 1 1 auto;
//   border: 1px solid black;
//   padding: 25px;

//   &__field {
//     width: 100%;
//     height: 100px;
//     padding: 10px;
//     border: 1px solid black;
//   }
// }

// .container {
//   border: 1px solid black;
//   height: 50px;
//   width: 50px;
//   overflow: auto;
//   padding: 8px;
//   margin-bottom: 16px;
// }

@import "@reactStyles/vars.scss";

.creator {
  background-color: $grayscale-100;
}

.header {
  gap: 30px;
  display: flex;
  padding: 60px 0;
  flex-direction: column;

  &__title {
    @include title_1();
    color: $grayscale-800;
  }

  &__inputs {
    gap: 15px;
    display: flex;
  }
}

.input {
  flex: 0 1 372px;
}

.templates {
  gap: 30px;
  display: flex;
  flex-direction: column;

  &__title {
    @include title_2();
    color: $grayscale-800;
  }
}

@media (min-width: $sm) {
  .header {
    &__inputs {
      gap: 30px;
    }
  }
}

@media (min-width: $md) {
  .header {
    &__inputs {
      gap: 45px;
    }
  }
}

@media (min-width: $lg) {
  .header {
    &__inputs {
      gap: 60px;
    }
  }
}
